{% extends 'index.html' %}

{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
        <section class="about-section">
            <h2 style="width:450px">Добро пожаловать в нашу булочную!</h2>
            <img src="{% static 'img/bread.jpg' %}" alt="Свежий хлеб" class="about-image">
            <p>
                Наша булочная — это место, где каждый день начинается с аромата свежеиспеченного хлеба и теплых круассанов. Мы работаем с 2010 года, чтобы радовать наших клиентов качественной выпечкой, приготовленной с любовью и заботой. Наши пекари используют только натуральные ингредиенты, а рецепты передаются из поколения в поколение.
            </p>
            <p>
                Мы предлагаем широкий ассортимент продукции: от традиционного ржаного хлеба до изысканных десертов. В нашем меню вы найдете свежие булочки, пироги, торты и многое другое. Мы также готовим выпечку на заказ для ваших праздников и мероприятий. Каждый продукт — это сочетание традиций и современных технологий.
            </p>
            <img src="{% static 'img/croissants.jpg' %}" alt="Круассаны" class="about-image">
            <p>
                Приходите к нам, чтобы насладиться уютной атмосферой и попробовать наши фирменные блюда. Мы уверены, что вы найдете здесь что-то особенное для себя и своих близких. Спасибо, что выбираете нас!
            </p>
            <img src="{% static 'img/interior.jpg' %}" alt="Интерьер булочной" class="about-image">
        </section>
{% endblock %}