{% extends 'index.html' %}

{% load static %}

{% block title %}Полезные ссылки{% endblock %}

{% block content %}
        <section class="links-section">
            <h2>Полезные ссылки</h2>
            <ul>
                <li>
                    <a href="index.html" target="_blank">Наша группа Вконтакте</a>
                    <p>Сайт о современных технологиях в хлебопечении.</p>
                </li>
                <li>
                    <a href="index.html" target="_blank">Телеграмм канал</a>
                    <p>Ресурс для любителей традиционной выпечки и рецептов.</p>
                </li>
                <li>
                    <a href="https://f-volchek.ru/" target="_blank">Булочные Ф. Вольчека</a>
                </li>
                <li>
                    <a href="https://vk.com/kondipsk" target="_blank">БУЛОЧНАЯ - КОНДИТЕРСКАЯ</a>
                </li>
                <li>
                    <a href="https://www.hlebpskov.ru/" target="_blank">Псковский хлебокомбинат</a>
                </li>
            </ul>
        </section>
{% endblock %}